/*Section start*/

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}

/*stylisation du scrollbar*/

::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(rgb(41, 41, 41));
    border-radius: 6px;
}

.hero{
    padding-bottom: 10px;
    background-color: #F5DF4E;
}

.hero span{
    color: rgb(41, 41, 41);
}

nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo{
    color: white;
    font-weight: 800;
    font-size: 45px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: transform .4s;
}

.logo:hover{
    transform: scale(1.1);
}

span{
    font-weight: bold;
}
nav a{
    text-decoration: none;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight:600;
    text-transform: capitalize;
}

nav ul li a:hover{
    color: rgb(41, 41, 41);
    transition: .4s;
}

.btn{
    background-color: rgb(41, 41, 41);
    color: white ;
    text-decoration: none;
    border: 1px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    transition: transform .4s;
}

.btn:hover{
    transform: scale(1.2);
}

.content{
    position: relative;
    text-align: center;
}

.content img{
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    width: 20vw;
    border-radius: 100%;
    border: 10px solid #000000;
}

h1{
    color: rgb(41, 41, 41);
    font-size: 5rem;
    font-weight: 600;
}

h3{
    color: rgb(41, 41, 41);
    font-size: 30px;
    margin-bottom: 50px;
    font-weight: 400;
    text-transform: uppercase;
}

h4{
    color: rgb(41, 41, 41);
    letter-spacing: 2px;
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase !important;
}

/*Section A propos*/

.about{
    width: 100%;
    padding: 60px 0px;
    background-color: white;
}

.about img{
    height: auto;
    width: 430px;
}

.about-text{
    width: 550px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.about-text h2{
    color: rgb(41, 41, 41);
    font-size: 65px;
    margin-bottom: 20px;
}

.more{
    font-size: 1.5em;
}

.about-text h5{
    color: rgb(41, 41, 41);
    letter-spacing: 2px;
    font-size: 1.7em;
    margin-bottom: 25px;
    text-transform: capitalize;
    margin-left: 0px;
}

.about-text p{
    color: rgb(41, 41, 41);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

button{
    background-color: #F5DF4E;
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    transition: .4s;
}

button:hover{
    background-color: transparent;
    color: rgb(41, 41, 41);
    border: 2px solid rgb(41, 41, 41);
    cursor: pointer;
}

/*Secion Information*/

.information{
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.text-gray{
    color: #999999;
    font-weight: 500;
}

.text-dark{
    margin-top: 5px;
}

.text-dark, .text-dark a{
    color: #171515;
    font-size: 1.1em;
    font-weight: 600;
}

.text-dark a:hover{
    text-decoration: none;
}

/*Section Projets*/

.projets{
    background: #e9e9e9;
    padding: 40px 0px;
}

.title  h2{
    color: #191919;
    font-size: 75px;
    text-align: center;
}

.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}

.card{
    height: 490px;
    width: 360px;
    background: #000000;
    margin: 20px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card i{
    font-size: 15px;
    margin-left: 10px;
    color: #ffffff;
}

.pra img{
    margin-top: 40px;
    width: 200px;
}

.description{
    color: white;
    padding: 10px 40px;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 15px;
}

.card .button{
    background-color: #F5DF4E;
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: 500;
    padding: 1px 30px;
    border-radius: 30px;
    transition: .4s;
}

.card .button:hover{
    background-color: transparent;
    color: white;
    border: 2px solid #F5DF4E;
}

/*Section Compétences*/

.niveau{
    max-width: 80%;
    margin: 50px auto;
}

.progress-sm{
    height: 0.6em !important;
}

.mb-4{
    margin-bottom: 1.5em !important;
}

.progress{
    display: flex;
    overflow: hidden;
    font-size: .75em;
    background-color: #8d8d8d;
    border-radius: 0.35em;
}

.container{
    display: flex;
    margin-bottom: 50px;
}

.line{
    width: 50%;
}

.line-left{
    margin-right: 20px;
}

.bar{
    font-weight: 500 !important;
    text-align: left !important;
    margin-bottom: 0.5em !important;
}

.float-end{
    float: right;
    color: #191919;
}

.progress-bar{
    background-color: #F5DF4E;
}

.cv{
    text-align: center;
}

.cv span{
    margin-top: 100px;
    background-color: rgb(41, 41, 41);
    color: white ;
    text-decoration: none;
    border: 1px solid transparent;
    font-weight: 400;
    padding: 10px 25px;
}

.cv span:hover{
    color: #191919;
    transition: 0.5s;
    background-color: #F5DF4E;
    cursor: pointer;
}

/* Section Engagez-moi */

.cover{
    display: flex;
    padding: 10% 20px ;
    align-items: center;
    justify-content: center;
    background: rgb(0,0,0,0.7) url(./img/me.jpg);
    background-blend-mode: darken;
    background-attachment: fixed;
    background-size: cover;
    background-position: right;
}

.hire-me{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hire-me p{
    text-align: center;
    font-size: 2.3em;
    font-weight: 600;
    color: white;
    margin-bottom: 25px;
}

.hire-me a{
    background-color: #F5DF4E;
    color: rgb(41, 41, 41);
    text-decoration: none;
    border: 1px solid transparent;
    font-weight: 400;
    padding: 15px 29px;
}

.hire-me a:hover{
    color: rgb(41, 41, 41);
    transition: 0.5s;
    background-color: #fddb00;
    cursor: pointer;
}

/*Section Contact*/

.contact-me{
    padding: 50px 0;
    background-color: #F5DF4E;
}

.container-first{
    display: flex;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.line-gauche{
    margin-right: 8%;
}

.social{
    margin-top: 40px;
}

.social a{
   font-size: 25px;
   margin-right: 30px;
   color: #686464;
}

i{
   transition: transform .4s;
}

.fa-twitter:hover{
    color: #00acee;
    transform: scale(1.2);
}

.fa-facebook:hover{
    color: #3b5998;
    transform: scale(1.2);
}

.fa-instagram:hover{
    color:  #C32AA3;
    transform: scale(1.2);
}

.fa-github:hover{
    color: #171515;
    transform: scale(1.2);
}

h6{
    font-size: 1.5em;
    margin-left: 0;
    font-weight: 500;
    color: #191919;
}

.line-gauche p{
    line-height: 1.8em;
    font-size: 1.1em;
    padding-top: 30px;
    padding-bottom: 30px;
}

.line-droite{
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

h2{
    margin-bottom: 20px;
    font-size: 2.3em;
    font-weight: 600;
    color: #191919;
}

label{
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 15px;
}

input{
    background-color: #F5DF4E;
    padding: 10px;
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid rgb(41, 41, 41);
}

textarea{
    background-color: #F5DF4E;
    border: 0;
    border-bottom: 2px solid rgb(41, 41, 41);
}

.envoyer input{
    border-bottom: 0;
    padding: 15px 40px;
    margin-top: 25px;
    background-color: #191919;
    color: white;
    cursor: pointer;
}

.envoyer input:hover{
    color: #191919;
    transition: 0.5s;
    background-color: white;
    cursor: pointer;
}

/*Section Footer*/

footer{
    background-color: #161616;
    padding: 20px 0px;
    padding-left: 8%;
    padding-right: 8%;
}

.copyright{
    display: flex;
    justify-content: space-between;
}

.fa-copyright{
    color: #F5DF4E;
}

.copyright div{
    color: white;
    font-weight: 500;
}

.copyright-left a{
    color: #F5DF4E;
}

.copyright-right a{
    color: #F5DF4E;
}

.copyright-left a:hover{
    text-decoration: none;
    color: #fddb00;
    transition: .5s;
}

.copyright-right a:hover{
    text-decoration: none;
    color: #fddb00;
    transition: .5s;
}


/* Début des médias querry */
@media screen and (max-width: 700px) {
    .hero nav ul li{
        display: none;
    }
    .container-first{
        display: flex;
        flex-wrap: wrap;
        padding-top: 45px;
        padding-left: 8%;
        padding-right: 8%;
    }
    .copyright{
        display: flex;
        flex-wrap: wrap;
    }
}